body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 800px;
    height: 600px;
    border: solid black 1px;
    overflow: hidden;
}

.images {
    width: 4000px;
    height: 600px;
    
}

img {
    max-width: 600px;
    max-height: 600px;
    margin: 0 400px;
}

